body {
    background-color: rgb(200, 240, 150);
    margin: 20px;
}

header {
    background-color: rgb(5, 15, 30);
}

img {
    width: 100px;
    border-radius: 5px;
    opacity: 0.8;
    filter: sepia(30%);
}

h1, h2, h3 {
    color: #334499; 
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}



index {
    width: 220px;
}

a {
    text-align: left;
}

a:hover {
    text-decoration: underline;
}

nav a {
    background-color: white;
    padding: 18px;
}

nav#navhome {
    text-align: right;
    margin-top: auto;
}


